/* Reglas Principales*/
:root{
    --html-color:#ff3d00;
    --css-color:#2091eb;
    --js-color:#e4d04b;
    --bootstrap-color:#583979;
    --github-color:#24292f;
    --php-color:#777BB3;
    --mysql-color: #f29d17;
}

body{
    box-sizing: border-box;
}

.navbar-nav {
    flex-flow: row nowrap;
}

.navbar {
    flex-flow: row nowrap;
    display: inline-flex; 
}

#titulo h1{
    font-size: 50px;
    letter-spacing: -2px;
}

#titulo h2{
    font-size: 35px;
    letter-spacing: -2px;
}

#avatar img{
    max-width: 200px;
}

#info-content img{
    max-height: 100px;
    max-width: 220px;
}

#html-ico:hover{color: var(--html-color);}
#css-ico:hover{color: var(--css-color);}
#js-ico:hover{color: var(--js-color);}
#bootstrap-ico:hover{color: var(--bootstrap-color);}

.overlay{
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#btnVerProyecto{ z-index: 2;}

.overlay:hover{
    opacity: 1;
}

#tecladoLeft {
    background: url("https://tajibo.com/portfolio-repositorio/img/teclado.png") right 0 bottom 0 no-repeat;
    background-size: cover;
}

#tecladoRight {
    background: url("https://tajibo.com/portfolio-repositorio/img/teclado.png") left 0 bottom 0 no-repeat;
    background-size: cover;
}

.badge-html{background-color: var(--html-color);}
.badge-css{background-color: var(--css-color);}
.badge-bootstrap{background-color: var(--bootstrap-color);}
.badge-js{background-color: var(--js-color);}
.badge-php{background-color: var(--php-color);}
.badge-mysql{background-color: var(--mysql-color);}

#github-ico:hover{
    color: var(--github-color);
}

#mouse{
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 240px;
    z-index: 0;
}

footer #comillas{
    border-right: 1px solid  #333333 ;
}

@media (max-width: 430px) { 
    #titulo h1 {letter-spacing: -2px;}
    #main .fa-4x {font-size: 3em;}
    footer #comillas {display: none;}
}

@media screen and (min-width:431px) and (max-width:1000px) { 
}

